{
  "debug": true,
  "branches": [
    "main"
  ],
  "verifyConditions": [
    ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
            {"type": "release","release": "patch"}
    ]}],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "prepare": [
    ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
            {"type": "release","release": "patch"}
    ]}],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist"
      }
    ],
    {
      "path": "@semantic-release/github"
    }
  ]
}