{
  "debug": true,
  "branches": [
    "main"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "analyzeCommits":[
    ["@semantic-release/commit-analyzer", {
        "preset": "angular",
        "releaseRules": [
            {"type": "release","release": "patch"},
            {"type": "major","release": "major"},
            {"type": "minor","release": "minor"},
            {"type": "patch","release": "patch"}
    ]}],
  ],
   "generateNotes": [
      "@semantic-release/release-notes-generator"
  ],
  "prepare": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "publish": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist"
      }
    ],
    {
      "path": "@semantic-release/github"
    }
  ]
}