name: Create new release
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    if: "github.event_name == 'push' && github.ref == 'refs/heads/main' && !startsWith(github.event.head_commit.message, 'chore')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.ADMIN_TOKEN }}

      - name: setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: release using semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN }}
          GIT_AUTHOR_NAME: secrets.automation.dev
          GIT_AUTHOR_EMAIL: secrets.automation.dev@il.ibm.com
          GIT_COMMITTER_NAME: secrets.automation.dev
          GIT_COMMITTER_EMAIL: secrets.automation.dev@il.ibm.com
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          sudo apt-get update
          sudo apt-get install python3
          pip install --user bumpversion
          npm install @semantic-release/changelog
          npm install @semantic-release/git
          npm install @semantic-release/github
          npm install @semantic-release/npm
          npm install @semantic-release/release-notes-generator -D
          npx semantic-release

